/* Color Box */
.color {
  width: 24px;
  height: 24px;
  margin: 1px;
  border: 2px outset rgb(59, 59, 59);
  display: inline-block;
}

.color.selected {
  width: 30px;
  border: 2px solid rgb(255, 255, 255);
  position: relative;
}

/* Small Circle */
.circle {
  width: 10px;
  height: 10px;
  background: rgb(36, 241, 132);
  border-radius: 50%;
}

/* Color Container */
.color-container {
  width: 100%;
  max-width: 430px;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 255, 0.074),
    rgba(124, 135, 255, 0.045)
  );
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.163);
  border-radius: 8px;
  margin-top: 1em;
  padding: 0.5em;
  display: flex;
}

/* Palette Names */
.palette-names {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1em;
  padding: 0.2em;
}

/* Palette Name Buttons */
.palette-names button {
  width: 100%;
  padding: 2px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  background: transparent;
  border: 2px inset transparent;
  color: white;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  cursor: pointer;
}

/* Active Button */
.palette-names button.active {
  border: 1px solid rgba(255, 255, 255, 0.34);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 255, 0.074),
    rgba(248, 8, 96, 0.23)
  );
  backdrop-filter: blur(3px);
  border-radius: 4px;
}

/* Color Section */
.color-section {
  padding-left: 0.8em;
  width: fit-content;
}

/* Fixes for Older Browsers */
@supports (-ms-ime-align: auto) {
  .color-container {
    display: block;
  }
  .palette-names {
    flex-direction: row;
  }
}

/* Fix for Safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .color-container {
    backdrop-filter: none;
  }
}
